.offers {
  margin-bottom: 150px ;
  background-image: url('../Assets/exclusive_image.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (width < 600px){
  .offers{
    width: auto;
    background-size: cover;
    background-position: left;
    height: 60vh;
    background-size: 100%;
  }
}

@media only screen and (width >= 600px){
  .offers{
    width: auto;
    background-size: cover;
    background-position: left;
    height: 80vh;
    background-size: 100%;
  }
}

@media only screen and (width > 1200px) {
  .offers{
  margin: auto;
  margin-bottom: 150px ;
  background-image: url('../Assets/exclusive_image.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  }
}